<div class="item">
    <!-- 日期分类 -->
    <div class="mark" ng-show="loaded">{{time}}</div>
    <ul class="posts large">
        <!-- 文章 -->
          <!-- display_style:10003，纯图片 -->
         <!-- display_style:10002，文字+图片 -->
        <!-- display_style:10001，纯文字 -->
        <li ng-repeat="post in posts">
            <span href="javascript:;" class="tag" ng-if="post.column.name">{{post.column.name}}</span>
            <div class="cont">
                <h3>{{post.title}}</h3>
                <div class="brief">
                <!-- 根据display_style的值不同 下面的结构不同 -->
                    <!-- 10001和10002都有p，但是只有10001有class=only -->
                    <p ng-class="{only:post.display_style == 10001}" ng-if="post.display_style!= 10003">
                         {{post.abstract}}
                    </p>
                    

                    <div class="thumb" ng-if="post.display_style==10002">
                        <img src="{{post.thumbs[0].small.url}}" alt="">
                    </div>
                    <div class="gallery" ng-if="post.display_style==10003">
                        <img src="{{post.thumbs[0].small.url}}" alt="">
                    </div>
                </div>
            </div>
        </li>       
    </ul>
</div>
